body{
    color:white;
    background: rgb(15,135,156);
    margin:0px;
    font-family: "Anton", sans-serif;
}

header{
    border-bottom:solid 2px rgb(15, 135, 156);
    padding: 20px;
    font-size:32px;
    color:white;
}
h8{
    font-size:130px;
    padding-left:20px;
    padding-right:20px;
    margin:50px;
      display: flex;
      justify-content: center; /* centraliza horizontal */
      gap: 15px;            /* espaçamento entre imagem e texto */
}

.bslogo{
    max-width: 150px;
      height: auto;
      border-radius: 8px;
}

.chamada{
    background:rgb(2, 172, 172);
    padding-bottom:80px;
    padding-top:80px;
    display:flex;
    justify-content:center;
}
.chamada-texto{
    margin=right 5%;
}

h1{
    font-size: 30px;
}

p {
    font-size:20px;
}
.chamada-texto{
    margin=right 5%;
}

h2{
    font-size: 30px;
}
.chamada-texto{
    margin=right 5%;
}

h3{
    font-size: 30px;
}
.chamada-texto{
    margin=right 5%;
}

h4{
    font-size: 30px;
}
.chamada-texto{
    margin=right 5%;
}

h5{
    font-size: 30px;
}
.chamada-texto{
    margin=right 5%;
}

h6{
    font-size: 30px;
}
.chamada-texto{
    margin=right 5%;
}

h7{
    font-size: 60px;
}
.chamada-texto{
    margin=right 5%;
}


img{
    height:300px;
}

.categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 15px;
}
.categoria{
    padding-left:20px;
    padding-right:20px;
}

