body{
    color:white;
    background:rgb(2, 72, 78);
    margin:0px;
    font-family: "Anton", sans-serif;
}

header{
    border-bottom:solid 2px rgba(195, 203, 204, 1);
    padding: 20px;
    font-size:32px;
    color: rgb(rgb(25, 87, 9));
}

section{
    background:rgb(rgb(19, 86, 92));
    padding-bottom:80px;
    padding-top:80px;
    display:flex;
    justify-content:center;
}
.chamada-texto{
    margin=right %5;
}

h1{
    font-size: 40px
}

p {
    font-size:20px
}