body{
    color:white;
    background:rgba(195, 203, 204, 1);
    margin:0px;
}

header{
    border-bottom:solid 2px rgb(221, 231, 232);
    margin:20px;
    border-bottom:solid 2px rgb(218, 238, 240);
    padding: 20px;
    font-size:32px;
    color: rgb(rgb(50, 211, 226));
}

section{
    background:rgb(rgb(52, 147, 156))
    padding: bottom 80px;
    padding-top:80px;
    display:flex;
    justify-content:center;
}
div{
    margin=right 20px
}



